<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" as="style" crossorigin="anonymous" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" crossorigin="anonymous"></noscript>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="stylesheet" href="https://vuakhoahoc.org/asset/css/reset.css">
    <link rel="stylesheet" href="https://vuakhoahoc.org/asset/css/component2.css">
    <link rel="stylesheet" href="https://vuakhoahoc.org/asset/css/style.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <link href="https://vjs.zencdn.net/7.21.1/video-js.css" rel="stylesheet" />
    
    <script type="text/javascript" async="" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=X3H4ML"></script>
    <script type="text/javascript">
    !function(){if(!window.klaviyo){window._klOnsite=window._klOnsite||[];try{window.klaviyo=new Proxy({},{get:function(n,i){return"push"===i?function(){var n;(n=window._klOnsite).push.apply(n,arguments)}:function(){for(var n=arguments.length,o=new Array(n),w=0;w<n;w++)o[w]=arguments[w];var t="function"==typeof o[o.length-1]?o.pop():void 0,e=new Promise((function(n){window._klOnsite.push([i].concat(o,[function(i){t&&t(i),n(i)}]))}));return e}}})}catch(n){window.klaviyo=window.klaviyo||[],window.klaviyo.push=function(){var n;(n=window._klOnsite).push.apply(n,arguments)}}}}();
    </script>
    
                    <script type="text/javascript">
            klaviyo.identify({
              "email" : "2509roblox@gmail.com",
              "first_name": "HG DIGITAL"
            });
        </script>
        
    <link rel="icon" type="image/png" href="/favicon.png">

    <link rel="canonical" href="https://vuakhoahoc.org/profile" />
        <title>Thông tin của bạn - VKH</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-04WSBEYY8T"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-04WSBEYY8T');
    </script>
</head>
    <body class="darkmode">

    <form action="https://vuakhoahoc.org/profile" method="post" id="change-info">
    <input type="hidden" name="_token" value="hGlyyh45XkHAaTuhXGF5vdL9Ib42ESNVIWyyFYHw">    <input type="hidden" name="_method" value="put">    <div class="form-wraper">
        <iconify-icon icon="ooui:previous-ltr" class="back-btn" onclick="history.back()"></iconify-icon>
        <div class="form-headline">
            <iconify-icon icon="ph:shopping-cart-simple-bold"></iconify-icon>
            <p class="headline">Cài đặt</p>
        </div>
        <div class="seperator"></div>
                <div class="setup-wraper">
                <div class="label-textbox-comp">
                    <p class="label-textbox-comp-label">Họ tên</p>
                    <input type="text" id="name" name="name" class="textbox-comp" value="HG DIGITAL">
                    <p class="label-textbox-comp-error">Thông báo lỗi</p>
                </div>
                <div class="birth-gender row g-3">
                    <div class="label-textbox-comp col-8">
                        <p class="label-textbox-comp-label">Ngày sinh</p>
                        <input type="date" name="dob" class="textbox-comp" value="">
                        <p class="label-textbox-comp-error">Thông báo lỗi</p>
                    </div>
                    <div class="label-textbox-comp col-4">
                        <p class="label-textbox-comp-label">giới tính</p>
                        <div class="textbox-comp">
                            <input type="radio" id="male" name="gender" value="Nam" 1>
                            <label for="male">Nam</label>
                            <input type="radio" id="female" name="gender" value="Nữ" >
                            <label for="female">Nữ</label>
                        </div>
                        <p class="label-textbox-comp-error">Thông báo lỗi</p>
                    </div>
                </div>
                <div class="label-textbox-comp">
                    <p class="label-textbox-comp-label">Email</p>
                    <input type="email" id="email" name="email" class="textbox-comp" value="2509roblox@gmail.com">
                    <p class="label-textbox-comp-error">Thông báo lỗi</p>
                </div>
                <div class="label-textbox-comp">
                    <p class="label-textbox-comp-label">Số điện thoại</p>
                    <input type="tel" id="phone" name="phone" class="textbox-comp" value="">
                    <p class="label-textbox-comp-error">Thông báo lỗi</p>
                </div>
                
                <label for="pw_change" class="btn-secondary">Đổi mật khẩu</label>
                <input type="checkbox" name="pw_change" id="pw_change" style="display:none;">
                <div class="pw_change">
                    <div class="label-textbox-comp">
                        <p class="label-textbox-comp-label">Nhập mật khẩu hiện tại</p>
                        <input type="password" id="current_password" name="current_password" class="textbox-comp">
                        <p class="label-textbox-comp-error">Thông báo lỗi</p>
                    </div>
                    <div class="label-textbox-comp">
                        <p class="label-textbox-comp-label">Nhập mật khẩu mới</p>
                        <input type="password" id="password" name="password" class="textbox-comp">
                        <p class="label-textbox-comp-error">Thông báo lỗi</p>
                    </div>
                </div>
                <input type="submit" class="btn-primary full-width-btn" value="Xác nhận">
        </div>
    </div>
</form>


    <script src="/asset/js/validation.js"></script>
    <script>
        validator({
            form: "#change-info",
            errorSelector: ".label-textbox-comp-error",
            rules: [
                validator.isRequired("#email"),
                validator.isEmail('#email'),
                validator.isRequired("#name"),
                // validator.minLength('#current_password',6),
                // validator.minLength('#password',6)
            ]
        })
    </script>    

    <script src="/asset/js/cookie.js"></script>
    <script src="/asset/js/darkmode.js"></script>
    <script src="/asset/js/copy-to-clipboard.js"></script>
    <script>
        copyToClipboard('.copy-btn');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>