<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" as="style" crossorigin="anonymous" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" crossorigin="anonymous"></noscript>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="stylesheet" href="https://vuakhoahoc.org/asset/css/reset.css">
    <link rel="stylesheet" href="https://vuakhoahoc.org/asset/css/component2.css">
    <link rel="stylesheet" href="https://vuakhoahoc.org/asset/css/style.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <link href="https://vjs.zencdn.net/7.21.1/video-js.css" rel="stylesheet" />
    
    <script type="text/javascript" async="" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=X3H4ML"></script>
    <script type="text/javascript">
    !function(){if(!window.klaviyo){window._klOnsite=window._klOnsite||[];try{window.klaviyo=new Proxy({},{get:function(n,i){return"push"===i?function(){var n;(n=window._klOnsite).push.apply(n,arguments)}:function(){for(var n=arguments.length,o=new Array(n),w=0;w<n;w++)o[w]=arguments[w];var t="function"==typeof o[o.length-1]?o.pop():void 0,e=new Promise((function(n){window._klOnsite.push([i].concat(o,[function(i){t&&t(i),n(i)}]))}));return e}}})}catch(n){window.klaviyo=window.klaviyo||[],window.klaviyo.push=function(){var n;(n=window._klOnsite).push.apply(n,arguments)}}}}();
    </script>
    
            <script type="text/javascript">
            klaviyo.identify({});
        </script>
        
    <link rel="icon" type="image/png" href="/favicon.png">

    <link rel="canonical" href="https://vuakhoahoc.org/register" />
        <meta name="description" content="Đăng ký tài khoản Vua Khóa Học. Hàng ngàn khóa học share miễn phí. Khóa học nào bạn cần, Vua Khóa Học đều chia sẻ. Trải nghiệm học tập online thú vị.">
    <title>Lên thuyền cùng Vua Khóa Học</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-04WSBEYY8T"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-04WSBEYY8T');
    </script>
</head>
    <body class="darkmode">

        <div class="form-wraper">
        <iconify-icon icon="ooui:previous-ltr" class="back-btn" onclick="history.back()"></iconify-icon>
        <div class="form-logo">
            <img src="/asset/img/logo.png" alt="">
        </div>
        <p class="headline">Đăng ký Vua Khóa Học</p>
        <div class="form-btn-wraper">
            <a href="https://vuakhoahoc.org/register/email" class="btn-primary"><i class="fa-regular fa-user"></i>Sử dụng email / số điện thoại</a>
            <a href="https://vuakhoahoc.org/auth/redirect/google" class="btn-primary"><i class="fa-brands fa-google"></i>Tiếp tục với Google</a>
            <!--<a href="https://vuakhoahoc.org/auth/redirect/facebook" class="btn-primary"><i class="fa-brands fa-facebook"></i>Tiếp tục với Facebook</a>-->
        </div>
        <p class="btn-noborder">Bạn đã có tài khoản?&nbsp;<a href="https://vuakhoahoc.org/login"><em>Đăng nhập</em></a></p>
    </div>

    <script src="/asset/js/cookie.js"></script>
    <script src="/asset/js/darkmode.js"></script>
    <script src="/asset/js/copy-to-clipboard.js"></script>
    <script>
        copyToClipboard('.copy-btn');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>