/******************************\ BEGIN Patrick Hand SC ******************************/


/*********** Patrick Hand SC *********/

@font-face {
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-weight: 400;
    src: local('patrickhandsc regular'), local('patrickhandsc regular'), url(/assets/hstatic.net/0/0/global/design/member/fonts-master/ofl/patrickhandsc/patrickhandsc-regular.ttf) format('truetype')
}


/******************************\ END Patrick Hand SC /******************************/